#!/usr/bin/env bash

# PGP
export GPG_TTY=$(tty)
export PINENTRY_USER_DATA="USE_CURSES=1"

# pnpm
export PNPM_HOME="/Users/anabastos/Library/pnpm"
export PATH="$PNPM_HOME:$PATH"
# pnpm endexport PATH="/opt/homebrew/opt/postgresql@15/bin:$PATH"
export PATH="/opt/homebrew/opt/postgresql@15/bin:$PATH"

# NVM
export NVM_DIR="$HOME/.nvm"
  [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Lang
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Flutter
export PATH="$PATH:/Users/ana.luiza/flutter/bin"
# Go
export PATH="$PATH:/Users/ana.luiza/go/bin"
export GO_PATH=$HOME/go
export PATH=$GO_PATH/bin:$PATH
# Ruby
export PATH="/usr/local/opt/ruby/bin:$PATH"
export MOBILE_CACHE_WRITE=false
export LDFLAGS="-L/usr/local/opt/ruby/lib"
export CPPFLAGS="-I/usr/local/opt/ruby/include"
export PATH="$PATH:$HOME/.rvm/bin"
export PATH="$PATH:$HOME/.rvm/bin"

# Android
export ANDROID_HOME=/Users/ana.luiza/Library/Android/sdk
export PATH="$PATH:$ANDROID_HOME/platform-tools"
# Java
export JAVA_HOME8="/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home"
export JAVA_HOME11="/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home"
export JAVA_HOME=$JAVA_HOME8

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Lein
export LEIN_USE_BOOTCLASSPATH=no
